.dialog-scrim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 16;
    background: rgba(0, 0, 0, 0.40);
    /* alinear dialog-container */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

@media (min-height: 670px) {
    .dialog-scrim {
        /* alinear dialog-container */
        align-items: center;
    }
}

.dialog-container {
    position: relative;
    width: 100vw;
    background: #FFFFFF;
    border-radius: 0;
    z-index: 24;
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.5);
}

@media (min-width: 640px) {
    .dialog-container {
        max-width: 600px;
    }
}

.dialog-header {
    position: relative;
    height: 60px;
    background: #0D47A1;
    color: white;
    border-radius: 0;
    z-index: 4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30);
    /* alinear title btn-close */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media (min-height: 631px) {
    .dialog-header {
        box-shadow: none;
    }
}

@media (min-width: 640px) and (min-height: 670px) {
    .dialog-container {
        border-radius: 5px;
    }

    .dialog-header {
        border-radius: 5px 5px 0px 0px;
    }
}

.md-36 {
    font-size: 2.25rem;
}

.title {
    margin: 0;
    font-size: 1.5rem;
    padding: 15px 5px;
}

.dialog-body {
    max-height: calc(100vh - 135px);
    /* evita el desporde */
    overflow-y: auto;
    padding: 15px;
}

.actions {
    position: relative;
    z-index: 4;
    padding: 15px 10px;
    border-top: 1px solid rgba(131, 130, 130, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (min-width: 640px) {
    .actions {
        padding: 15px 15px;
    }
}

.btn {
    height: 44px;
    border: 0;
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    margin-left: 20px;
    font-weight: 700;
    cursor: pointer;
}

.btn-close {
    text-align: center;
    width: 49px;
    height: 49px;
    padding: 7px;
    margin: 5px 15px;
    background: #0D47A1;
    color: white;
    border-radius: 50%;
}

.btn-close:hover,
.btn-close:focus {
    background: rgba(45, 103, 190, 0.356);
    transition: background 0.4s ease-in-out;
}

.btn-ok {
    min-width: 100px;
    background: #FFAB00;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.btn-ok:hover {
    background: #FFC400;
}

.btn-ok:focus {
    background: #FFD740;
}

.btn-cancel {
    min-width: 100px;
    background: white;
    color: #0D47A1;
    border: 1px solid rgba(131, 130, 130, 0.5);
}

.btn-cancel:hover {
    background: rgb(236, 236, 236);
}

.btn-cancel:focus {
    background: rgb(223, 221, 221);
}

.dialog-container.open {
    animation-duration: 500ms;
    animation-name: slideInUp;
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@media (min-height: 670px) {
    .dialog-container.open {
        animation-duration: 600ms;
        animation-name: fadeIn;
    }

    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

.dialog-container.close {
    animation-duration: 500ms;
    animation-name: slideOutDown;
}

@-webkit-keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@media (min-height: 670px) {
    .dialog-container.close {
        animation-duration: 600ms;
        animation-name: fadeOut;
    }

    @-webkit-keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
}