/* .label-input, input {
    display: block;
    margin: 10px 0px;
    font-size: 1rem;
}

.label-input {
    position: absolute;
    color: #7e7e7e;
    background: white;
    top: 19px;
    left: 30px;
    transition: all 0.30s ease-in-out;
}

.label-input.up-label {
    top: -5px;
    font-size: 0.8125rem;
    padding: 0px 3px;
    transition: all 0.30s ease-in-out;
}

.label-input.color-blue{
    color: #0D47A1;
    transition: all 0.30s ease-in-out;
}

input {
    width: 100%;
    height: 56px;
    padding: 0px 12px;
    margin-bottom: 5px;
    background: rgb(255, 255, 255);
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    outline: none;
}

input:hover {
    border-width: 1px;
    border-color: #000000;
    transition: all 0.30s ease-in-out;
    cursor: pointer;
}

input:focus {
    border-width: 2px;
    border-color: #0D47A1;
    caret-color: #0D47A1;
    transition: all 0.30s ease-in-out;
}

.div-helper {
    padding: 0px 12px;
    min-height: 19px;
}

.helper-text {
    font-size: 0.75rem;
} */

.control {
    height: 56px;
    padding: 0px 10px;
    border: 1px solid #7e7e7e;
    border-radius: 5px;
}

.control.hover:hover {
    border-width: 1px;
    border-color: #000000;
    transition: all 0.30s ease-in-out;
}

.control.focus {
    border-width: 2px;
    border-color: #0D47A1;
}

.control,
.label,
.input {
    font-size: 1rem;
    cursor: text;
}

.label {
    position: relative;
    color: #7e7e7e;
    top: 18px;
    z-index: 2;
    background: #FFFFFF;
    transition: all 0.30s ease-in-out;
}

.up-label {
    top: -11px;
    font-size: 0.8125rem;
    padding: 0px 3px;
    transition: all 0.30s ease-in-out;
}

.color-blue {
    color: #0D47A1;
    transition: all 0.30s ease-in-out;
}

.input {
    position: relative;
    height: 32px;
    top: -7px;
    border: 0;
    padding: 8px 0px;
    z-index: 1px;
    width: 100%;
    outline: none;
    caret-color: #0D47A1;
}


.div-helper {
    padding: 0px 12px;
    min-height: 19px;
}

.helper-text {
    font-size: 0.75rem;
}